  Body {
     background-color: rgb(179, 233, 175);
 } 

.címsor {
background-color: darkturquoise;
color: whitesmoke;
font-variant: small-caps;
font-size: large;
} 

 table {
     background-color: grey ;
 }

.class {
    background-color: greenyellow; 
}
