  Body {
     background-color: rgb(179, 233, 175);
 } 

.címsor {
background-color: darkturquoise;
color: whitesmoke;
font-variant: small-caps;
font-size: large;
} 

 table {
     background-color: grey ;
 }

.class {
    background-color: greenyellow; 
}

 table {
    background-color: rgb(79, 133, 149);
    color: ghostwhite;
}

 tr {
    background-color:rgb(66, 27, 66);
 }